<!DOCTYPE html>
<html>
<head>
    <title>Edit Supplier</title>
</head>
<body>
    <div>{% include 'navbar.html' %}</div>
    <div class="container mt-4">
        <div class="card">
            <h5 class="card-header">Edit Requisition</h5>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <script>
              $(document).ready(function () {
            function calculateSubtotal() {
                var unitPrice = parseFloat($('#id_unit_price').val());
                var quantity = parseFloat($('#id_quantity').val());
                var customerTax = parseFloat($('#id_customer_tax').val());

                if (!isNaN(unitPrice) && !isNaN(quantity) && !isNaN(customerTax)) {
                    var subtotal = unitPrice * quantity * (1 + customerTax / 100);
                    $('#id_subtotal').val(subtotal.toFixed(2));
                } else {
                    $('#id_subtotal').val('');
                }
            }

            $('#id_product').change(function () {
                var productId = $(this).val();
                if (productId) {
                    $.ajax({
                        url: '{% url "get_product_price" %}',
                        data: {
                            product_id: productId,
                        },
                        dataType: "json",
                        success: function (data) {
                            $('#id_unit_price').val(data.price);
                            calculateSubtotal();
                        },
                        error: function (error) {
                            console.log("Error: ", error);
                        },
                    });
                } else {
                    $('#id_unit_price').val('');
                    calculateSubtotal();
                }
            });

            $('#id_unit_price, #id_quantity, #id_customer_tax').on('input change', calculateSubtotal);
            calculateSubtotal();
        });
    </script>
</body>
</html>
