{% extends 'layout.html' %}

{% block title %}Requisition List{% endblock %}

{% block content %}
    <div class="nav-1">{% include 'navbar.html' %}</div>
    <div class="container mt-4">
        <h1>Requisition List</h1>
        <form method="get" action="{% url 'requisition_list' %}" class="form-inline justify-content-end">
            <div class="form-group">
                <input type="date" name="search_date" class="form-control mr-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <ul class="list-group">
            {% for requisition in requisitions %}
                <li class="list-group-item">
                    <a href="{% url 'requisition_detail' requisition.pk %}" class="text-dark">Requisition#{{ requisition.id }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_requisition' %}" class="btn btn-primary mt-3">Add Requisition</a>
        <a href="{% url 'requisition_summary' %}" class="btn btn-primary mt-3">Summary</a>
    </div>
{% endblock %}
