<!DOCTYPE html>
<html>
<head>
    <title>Delete Supplier</title>
</head>
<body>
    <div class="nav-1">{% include 'navbar.html' %}</div>
    <div class="container mt-4">
        <div class="card">
            <h5 class="card-header">Delete Supplier</h5>
            <div class="card-body">
                <p>Are you sure you want to delete {{ supplier.name }}?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
