{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- <a class="navbar-brand" href="#" style="left: 10px;">P2P System</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if user.role == 'supplier' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'supplier_dashboard' %}">S Dashboard</a>
                            </li>
                        {% elif user.role == 'user' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard' %}">User Dashboard</a>
                            </li>
                        {% elif user.role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pending_requisitions' %}">Admin Dashboard</a>
                        </li>                     
                        {% endif %}
                    {% endif %}
                    {% if not user.is_authenticated %} 
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="btn btn-primary mr-2">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
